.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 58px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 722px;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 30px;
}

.u-section-1 .u-shape-1 {
  width: 449px;
  background-image: none;
  height: 509px;
  margin: 92px -1px 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 434px;
  margin: -471px 36px 0 28px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 722px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-line-1 {
  width: 537px;
  height: 9px;
  transform-origin: left center 0px;
  margin: 23px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 2.25rem;
  margin: 23px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 38px 0 0;
}

.u-section-1 .u-line-2 {
  width: 537px;
  height: 9px;
  transform-origin: left center 0px;
  margin: 445px auto 0 -10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 595px;
  }

  .u-section-1 .u-shape-1 {
    width: 456px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-1 .u-line-1 {
    width: 460px;
  }

  .u-section-1 .u-line-2 {
    width: 460px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 312px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 335px;
  }

  .u-section-1 .u-line-2 {
    width: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-shape-1 {
    width: 280px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-line-2 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 54px 753px 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 623px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 23px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin: 25px 123px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: -39px auto 0 162px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 265px;
  width: 113px;
  margin: 41px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-custom-html-2 {
  min-height: 265px;
  width: 113px;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-custom-html-3 {
  min-height: 265px;
  width: 113px;
  margin: 41px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-3 .u-custom-html-4 {
  min-height: 278px;
  height: auto;
  width: 139px;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 460px;
    margin-right: auto;
    margin-left: 134px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -330px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -144px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-custom-html-2 {
    height: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-3 .u-custom-html-3 {
    height: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 826px;
    margin-left: 103px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -510px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1251px;
    margin-left: 77px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -75px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1190px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 48px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -62px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1177px;
  }
}