certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
config==0.5.0.post0
cors==0.9.7
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gevent==20.12.1
greenlet==0.4.17
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
nanodb==0.4.3
nanodb-driver==0.0.3
pycparser==2.20
PyMySQL==0.10.1
PyYAML==3.11
pyzmq==20.0.0
requests==2.25.1
requests-file==1.5.1
six==1.15.0
tldextract==3.1.0
urllib3==1.26.2
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
